name: Simple CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  first-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo "This is my first CI/CD workflow"
